*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* header css */

.dark{
    background-color: #121212 !important; 
    color: #BBBBBB !important;
}

.headerSb{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.headerSb div{
    padding:5px 2px ; 
}

/* search area css */
.searchBox{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-top: 5px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.searchBar{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 80%;
    background-color: transparent;
    outline: none;
}

/* conversation stylling */
.chatsList{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    margin-bottom: 10px;
    border-top: 5px;
    border-radius: 10px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* conversation chats */ 
/* Viip component */
.chat {
    display: grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 15px; 
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    background-color: white; 
    cursor: pointer;
}
.chat:hover{
    background-color: #d9d9d9;
}
.chat:active{
    background-color: white;
}
.usr-icon{
    grid-area: 1/1/3/2;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #d9d9d9;
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    height: 35px;
    width: 35px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;

    justify-self: center;
    align-self: center ;
}

.usr-name{
    grid-area: 1/2/2/4;
    font-weight:500;
}

.usr-lastmsg{
    grid-area: 2 / 2 / 3 / 3;
    font-size: 1rem;
}

.usr-msgtime {
    grid-area: 2 / 3 / 3 / 4;
    font-size: 1rem;
    justify-self: end; /* Align to the right end of the box */
}
